{{#params.classDesc.pckg}}
package {{params.classDesc.pckg}};
{{/params.classDesc.pckg}}

class {{params.classDesc.name}} {
	
	public static void main(final String[] args) {
		System.out.println( "{{params.classDesc.msg}}" );
	}
}